{% extends "layout.njk" %}

{% block content %}

<div class="course__content">
    <div class="title-course">
        <h1>Conteúdo Disponivel</h1>
    </div>

    <div class="cards-courses">
        {% for tecnologias in starter.tecnologias %}
        <div class="card-course">
            <div class="card__image-course">
                <img src="{{ tecnologias.image }}" alt="">
            </div>

            <div class="card__content-course">
                <p>{{ tecnologias.name }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}