<header>
    <div class="logo">
        <a href=""><img src="/logo2.png" alt=""></a>
    </div>
   
    <nav class="primary">
        <ul>
            <li>
                <a href="">
                    <i class="material-icons">person_add</i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="material-icons">notifications</i>
                </a>
            </li>
            <li>
                <a class="user" href="">
                    Minha Conta
                    <i class="material-icons">account_circle</i>
                </a>
            </li>
        </ul>
    </nav>
</header>